body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/loginestadisticas.jpg);background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
